
# Скрывать все файлы с расширением .db
*.db
# Скрывать все файлы с расширением .log
*.log
# Скрывать все файлы с расширением .iml
*.iml
# Скрывать папки с именами target, bin, .idea
target/
bin/
.idea/